.main-content {
    margin-top: 75px;
}

.navbar-brand {
	font-family: 'Alfa Slab One', cursive;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin:0;
}

.wideContainer {
	padding-left: 15px;
	padding-right: 15px;
	margin:0;
}

.navbar-brand img {
	position:relative;
	top: -11px;
}

body {
	/*font-family: 'Droid Sans', sans-serif !important;*/
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }